body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.fullscreen {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

.fullscreen img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}
#navibereich {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 10;
  font-size: 0.8em;
  text-align: center;
  mix-blend-mode: difference;
  line-height: 0.6;
  padding: 0;
  margin: 0;
}

#navibereich ul {
  padding: 0;
  margin: 0;
}

#navibereich li {
  list-style: none;
  padding: 0;
  margin: 0;
}

#navibereich a {
  color: white;
  text-decoration: none;
  display: inline-block;
}

#navibereich a:hover {
  color: white;
  font-size: 2em;
  text-decoration: none;
}

.text {
  position: fixed;
  z-index: 10;
  color: white;
  font-size: 0.8em;

  bottom: 0;
  width: 100%;
  text-align: center;
  mix-blend-mode: difference;
}

.zurueck a {
  position: fixed;
  z-index: 10;
  color: white;
  font-size: 0.8em;
  text-decoration: none;
  top: 0.4em;
  width: 100%;
  text-align: center;
  mix-blend-mode: difference;
}

.zurueck a:hover {
  color: white;
  font-size: 1em;
  text-decoration: none;
}

.image-row {
  display: flex;
  justify-content: center;
}

.image-row img {
  width: 50%;
  height: auto;
  object-fit: cover;
}
.blur {
  filter: blur(10px);
  transition: filter 0.5s ease;
}

img.special-image {
  width: 100%;
  height: auto;
}
@media (max-width: 430px) {
  .fullscreen {
    height: auto;
  }

  .grid {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(4, 1fr); /* 4 Bilder untereinander */
    height: auto; /* damit es auf mobilen Geräten nicht abgeschnitten wird */
  }

  .cell {
    height: 50vh; /* oder auto, je nach gewünschtem Verhalten */
  }
  .text-block {
    margin: 100px auto;
    max-width: 600px;
    background-color: rgba(255, 255, 255, 0.9);
    padding: 2rem;
    border-radius: 1rem;

    text-align: center;
  }

  #navibereich {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 10;
    font-size: 1.2em;
    text-align: center;
    line-height: 0.55;
    padding: 0;
    margin: 0;
    transition: opacity 0.3s ease;
  }

  .zurueck a {
    position: fixed;
    z-index: 10;
    color: white;
    font-size: 1.2em;
    text-decoration: none;
    top: 0.4em;
    width: 100%;
    text-align: center;
  }

  .text {
    position: fixed;
    z-index: 10;
    color: white;
    font-size: 1.2em;
    text-decoration: none;
    bottom: 0.5em;
    width: 100%;
    text-align: center;
  }
}
